

/* ========== app.css ========== */

.cardmagic_app .deck1Pos
{
  position: absolute;
  left: 25px;
  bottom: 25px;
  padding: 0px;
}



/* ========== deckofcards.css ========== */

.cardmagic_deckofcards .p1deck
{
  position: absolute;
  left: 0px;
  bottom: 0px;
  padding: 0px;
  opacity: 1;
}

.cardmagic_deckofcards .cardP1Pos
{
  position: absolute;
  left: 0px;
  bottom: 0px;
  padding: 0px;
  opacity: 1;
}

/* ========== card.css ========== */

.cardmagic_card .smallCard
{
  width: 100px;
  height: 150px;
  vertical-align: middle;
  max-width: 125;
}

/* ========== playingboard.css ========== */

body {
  background-color: #000;
}

/* ========== handofcards.css ========== */



/* ========== container.css ========== */

.cardmagic_container .p1Land
{
  position: absolute;
  bottom: 250px;
  height: 200px;
  width: 80%;
  left: 200px;
  border-style:solid;
  border-width:2px;
  border-color:black;
  z-index: -1;
}

.cardmagic_container .p2Land
{
  position: absolute;
  bottom: 800px;
  height: 200px;
  width: 100%;
  left: 200px;
  border-style:solid;
  border-width:2px;
  border-color:black;
  z-index: 1;
}

.cardmagic_container .p1GraveYard
{
  position: absolute;
  bottom: 200px;
  height: 200px;
  width: 100%;
  left: 200px;
  border-style:solid;
  border-width:2px;
  border-color:black;
  z-index: -1;
}

.cardmagic_container .p2GraveYard
{
  position: absolute;
  bottom: 200px;
  height: 200px;
  width: 100%;
  left: 200px;
  border-style:solid;
  border-width:2px;
  border-color:black;
  z-index: -1;
}

.cardmagic_container .p1Hand
{
  position: absolute;
  bottom: 0px;
  height: 200px;
  width: 80%;
  left: 200px;
  border-style:solid;
  border-width:2px;
  border-color:black;
  z-index: -1;
}

.cardmagic_container .p2Hand
{
  position: absolute;
  bottom: 0px;
  height: 200px;
  width: 80%;
  left: 200px;
  border-style:solid;
  border-width:2px;
  border-color:black;
  z-index: -1;
}