

/* ========== app.css ========== */

.cardmagic_app .deck1Pos
{
  position: absolute;
  left: 25px;
  bottom: 25px;
  padding: 0px;
}


.cardmagic_app .buttonBlock
{
  position: absolute;
  left: 25px;
  bottom: 200px;
  padding: 0px;
}


/* ========== playingboard.css ========== */

body {
  background-color: #000;
}

.cardmagic_playingboard .playmat
{
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1280px;
  height: 900px;
  vertical-align: middle;
  max-width: 125;
  z-index: -2;
}

/* ========== deckofcards.css ========== */

.cardmagic_deckofcards .p1deck
{
  position: absolute;
  left: 0px;
  bottom: 0px;
  padding: 0px;
  opacity: 1;
}

.cardmagic_deckofcards .cardP1Pos
{
  position: absolute;
  left: 0px;
  bottom: 0px;
  padding: 0px;
  opacity: 1;
}

/* ========== card.css ========== */

.cardmagic_card .smallCard
{
  width: 100px;
  height: 150px;
  vertical-align: middle;
  max-width: 125;
}

/* ========== handofcards.css ========== */



/* ========== container.css ========== */

.cardmagic_container .p1Land
{
  position: absolute;
  bottom: 165px;
  height: 175px;
  width: 850px;
  left: 200px;
  border-style:solid;
  border-width:2px;
  border-color:black;
  z-index: -1;
}

.cardmagic_container .p2Land
{
  position: absolute;
  bottom: 720px;
  height: 175px;
  width: 850px;
  left: 200px;
  border-style:solid;
  border-width:2px;
  border-color:black;
  z-index: -1;
}

.cardmagic_container .p1GraveYard
{
  position: absolute;
  bottom: 10px;
  height: 175px;
  width: 130px;
  left: 1100px;
  border-style:solid;
  border-width:2px;
  border-color:black;
  z-index: -1;
}

.cardmagic_container .p2GraveYard
{
  position: absolute;
  bottom: 200px;
  height: 175px;
  width: 150px;
  left: 200px;
  border-style:solid;
  border-width:2px;
  border-color:black;
  z-index: -1;
}

.cardmagic_container .p1Hand
{
  position: absolute;
  bottom: 10px;
  height: 175px;
  width: 850px;
  left: 200px;
  border-style:solid;
  border-width:2px;
  border-color:black;
  z-index: -1;
}

.cardmagic_container .p2Hand
{
  position: absolute;
  bottom: 0px;
  height: 175px;
  width: 80%;
  left: 200px;
  border-style:solid;
  border-width:2px;
  border-color:black;
  z-index: -1;
}

.cardmagic_container .p1InPlay
{
  position: absolute;
  bottom: 320px;
  height: 175px;
  width: 850px;
  left: 200px;
  border-style:solid;
  border-width:2px;
  border-color:black;
  z-index: -1;
}

.cardmagic_container .p2InPlay
{
  position: absolute;
  bottom: 530px;
  height: 175px;
  width: 850px;
  left: 200px;
  border-style:solid;
  border-width:2px;
  border-color:black;
  z-index: -1;
}