.cardmagic_handofcards .p1hand_1
{
  position: absolute;
  left: 200px;
  bottom: 50px;
  padding: 0px;
  opacity: 1;
}

.cardmagic_handofcards .p1hand_2
{
  position: absolute;
  left: 310px;
  bottom: 50px;
  padding: 0px;
  opacity: 1;
}

.cardmagic_handofcards .p1hand_3
{
  position: absolute;
  left: 420px;
  bottom: 50px;
  padding: 0px;
  opacity: 1;
}

.cardmagic_handofcards .p1hand_4
{
  position: absolute;
  left: 530px;
  bottom: 50px;
  padding: 0px;
  opacity: 1;
}

.cardmagic_handofcards .p1hand_5
{
  position: absolute;
  left: 640px;
  bottom: 50px;
  padding: 0px;
  opacity: 1;
}

.cardmagic_handofcards .p1hand_6
{
  position: absolute;
  left: 750px;
  bottom: 50px;
  padding: 0px;
  opacity: 1;
}

.cardmagic_handofcards .p1hand_7
{
  position: absolute;
  left: 860px;
  bottom: 50px;
  padding: 0px;
  opacity: 1;
}

.cardmagic_handofcards .p1hand_8
{
  position: absolute;
  left: 970px;
  bottom: 50px;
  padding: 0px;
  opacity: 1;
}

.cardmagic_handofcards .p1hand_9
{
  position: absolute;
  left: 1080px;
  bottom: 50px;
  padding: 0px;
  opacity: 1;
}

.cardmagic_handofcards .p1hand_10
{
  position: absolute;
  left: 1190px;
  bottom: 50px;
  padding: 0px;
  opacity: 1;
}