.cardmagic_container .p1Land
{
  position: absolute;
  bottom: 165px;
  height: 175px;
  width: 850px;
  left: 200px;
  border-style:solid;
  border-width:2px;
  border-color:black;
  z-index: -1;
}

.cardmagic_container .p2Land
{
  position: absolute;
  bottom: 720px;
  height: 175px;
  width: 850px;
  left: 200px;
  border-style:solid;
  border-width:2px;
  border-color:black;
  z-index: -1;
}

.cardmagic_container .p1GraveYard
{
  position: absolute;
  bottom: 10px;
  height: 175px;
  width: 130px;
  left: 1100px;
  border-style:solid;
  border-width:2px;
  border-color:black;
  z-index: -1;
}

.cardmagic_container .p2GraveYard
{
  position: absolute;
  bottom: 200px;
  height: 175px;
  width: 150px;
  left: 200px;
  border-style:solid;
  border-width:2px;
  border-color:black;
  z-index: -1;
}

.cardmagic_container .p1Hand
{
  position: absolute;
  bottom: 10px;
  height: 175px;
  width: 850px;
  left: 200px;
  border-style:solid;
  border-width:2px;
  border-color:black;
  z-index: -1;
}

.cardmagic_container .p2Hand
{
  position: absolute;
  bottom: 0px;
  height: 175px;
  width: 80%;
  left: 200px;
  border-style:solid;
  border-width:2px;
  border-color:black;
  z-index: -1;
}

.cardmagic_container .p1InPlay
{
  position: absolute;
  bottom: 320px;
  height: 175px;
  width: 850px;
  left: 200px;
  border-style:solid;
  border-width:2px;
  border-color:black;
  z-index: -1;
}

.cardmagic_container .p2InPlay
{
  position: absolute;
  bottom: 530px;
  height: 175px;
  width: 850px;
  left: 200px;
  border-style:solid;
  border-width:2px;
  border-color:black;
  z-index: -1;
}