.cardmagic_app .deck1Pos
{
  position: absolute;
  left: 25px;
  bottom: 25px;
  padding: 0px;
}


.cardmagic_app .buttonBlock
{
  position: absolute;
  left: 25px;
  bottom: 200px;
  padding: 0px;
}
